.style-editor {
  color: white;
  padding: 15px;
}
.style-editor > .style-editor-form-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
.style-editor > .style-editor-form-item > .style-editor-form-item__label {
}
.style-editor > .style-editor-form-item > .style-editor-form-item__select {
  width: 10rem;
  height: 1.5rem;
}
.style-editor > .style-editor-form-item > .style-editor-form-item__input {
  width: 10rem;
  height: 1.5rem;
}

.ast-tree-panel {
}

.ast-tree-panel > .ast-tree-panel__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 5px;
}
.ast-tree-panel .ast-tree-panel-item {
  display: flex;
  flex-direction: column;
}

.ast-tree-panel .ast-tree-panel-item > .ast-tree-panel-item__start-tag {
  color: #0022ff;
}
.ast-tree-panel .ast-tree-panel-item > .ast-tree-panel-item__end-tag {
  color: #0022ff;
}
