.side-drawer {
  width: 0px;
  background-color: #030303;
}

.side-drawer.open {
  width: 400px;
}

.open-drawer-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  background-color: black;
  font-size: 1.2rem;
  cursor: pointer;
}