
.ast-tree-panel {
}

.ast-tree-panel > .ast-tree-panel__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 5px;
}
.ast-tree-panel .ast-tree-panel-item {
  display: flex;
  flex-direction: column;
}

.ast-tree-panel .ast-tree-panel-item > .ast-tree-panel-item__start-tag {
  color: #0022ff;
}
.ast-tree-panel .ast-tree-panel-item > .ast-tree-panel-item__end-tag {
  color: #0022ff;
}
